<div ng-if="!$ctrl.races" class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>
  
<div class="container-dt">

  <table ng-if="$ctrl.races" >
    <thead>
      <tr>
        <th colspan="8" > {{ $ctrl.year }} Race Schedule </th>
      </tr>

      <tr> 
        <td>Round</td>
        <td>Race Name</td>
        <td>Date</td>
        <td>Time</td>
        <td>Circuit Name</td>
        <td>Locality</td>
        <td>Country</td>
        <td>Results</td>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="race in $ctrl.races" >
        <td> {{ race.round }} </td>
        <td>
          {{ race.raceName }} <a href="{{race.url}}" target="_blank" ><i class="fas fa-external-link-alt external-link "></i></a>
        </td>
        <td> {{ race.date }} </td>
        <td> {{ race.time }} </td>
        <td> {{ race.Circuit.circuitName }} <a href="{{race.Circuit.url}}" target="_blank" ><i class="fas fa-external-link-alt external-link "></i></a> </td>
        <td> {{ race.Circuit.Location.locality }} </td>
        <td> {{ race.Circuit.Location.country }} </td>
        <td> <a ng-href="#!/list/results/race/{{$ctrl.year}}/{{race.round}}"> Result </a> </td>
      </tr>
    </tbody>

  </table>

  </div>
  
  
  <div ng-if="$ctrl.errorMessage" class="error-cont" >
    <p> {{ $ctrl.errorMessage }} </p>
  </div>