:root {
  --theme: #a80022;
}

/* spinner-gif */

.spinner {
  text-align: center;
}

.spinner > img {
  border: 3px solid var(--theme);
  border-radius: 20px;
}

/* svg flag img */
.race-flag {
  width: 75px;
}

/* table */

table {
  border: 5px double black;
  table-layout: fixed; 
  border-spacing: 0;
}

td {
  border-top: 1px solid grey;
  padding: 5px;
}

.tr-link:hover {
  cursor: pointer;
}

tbody tr:hover {
  color: var(--theme);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  height: 75px;
  font-weight: bold;
}

thead > tr:last-child {
  background-color: black;
  color: white;
}

/* header */

.head {
  background-color: var(--theme);
  border-bottom: 10px double black;
  padding: 25px 0;
}

.head > h1 {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.nav > a {
  color: white;
  text-decoration: none;
}

.nav > a:hover {
  text-decoration: underline;
}

/*  driver details and containers */

.container-dt {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.container-dd {
  position: relative;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--theme);
  border-top: 5px double black;
  border-right: 5px double black;
  border-bottom: 5px double black;
}

.container-dd > div{
  color: yellow;
  padding: 25px;
}

.container-dd a {
  color: white;
}

.option-con {
  display: flex;
  justify-content: center;
}

.f1 {
  text-align: center;
  padding: 25px 10px;
}

.error-cont {
  border: 2px dotted var(--theme);
  margin: 0 10px;
  text-align: center;
  color: red;
  font-weight: bold;
}

/*  */

.d-name {
  font-weight: bolder;
  font-size: larger;
}

.icon-con {
  display: flex;
  justify-content: center;
  color: white;
}

.external-link {
  float: right;
  padding: 0 5px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.search > input {
  border: none;
}

.search > input:focus {
  outline: none;
}

.note {
  font-size: smaller;
}