
<div ng-if="!$ctrl.driverStandings" class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>

<input ng-if="$ctrl.driverStandings" type="text" ng-model="$ctrl.searchFilter" placeholder="Search" >

<table ng-if="$ctrl.driverStandings" >
      <thead>
        <tr><th >Driver Standings {{ $ctrl.year }} </th></tr>
      </thead>
      <tbody>
          <tr> 
              <td>#</td>
              <td>Name</td>
              <td>Contructors</td>
              <td>Wins</td>
              <td>Points</td>
          </tr>
      </tbody>
      <tr ng-repeat="driver in $ctrl.driverStandings | filter: $ctrl.searchFilter" >
          <td> {{ driver.position }} </td>
          <td ng-click="$ctrl.pickDriver(driver.Driver)" >
            {{ driver.Driver.givenName }} &nbsp; {{ driver.Driver.familyName }}
          </td>
          <td> {{ driver.Constructors[0].name }} </td>
          <td> {{ driver.wins }} </td>
          <td> {{ driver.points }} </td>
        </tr>
</table>
<p> {{ $ctrl.errorMessage }} </p>

<f1-driver-detail data="$ctrl.driverDetails" ></f1-driver-detail>